@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(15.9% 0.0096 285.885);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(15.9% 0.0096 285.885);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(15.9% 0.0096 285.885);
  --color-primary: oklch(14.5% 0.004 285.823);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(95.9% 0.0047 286.375);
  --color-secondary-foreground: oklch(14.5% 0.004 285.823);
  --color-muted: oklch(95.9% 0.0047 286.375);
  --color-muted-foreground: oklch(51.6% 0.0157 286.026);
  --color-accent: oklch(95.9% 0.0047 286.375);
  --color-accent-foreground: oklch(14.5% 0.004 285.823);
  --color-destructive: oklch(65.7% 0.229 27.325);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(90% 0.0054 286.315);
  --color-input: oklch(90% 0.0054 286.315);
  --color-ring: oklch(15.9% 0.0096 285.885);
  --color-chart-1: oklch(70.5% 0.171 36.563);
  --color-chart-2: oklch(55.7% 0.113 192.864);
  --color-chart-3: oklch(45.1% 0.069 231.277);
  --color-chart-4: oklch(75.9% 0.148 84.403);
  --color-chart-5: oklch(75.5% 0.173 46.038);
  --radius: 0.5rem;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
